.card-container{
    padding: 10px 6px 10px 6px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.title-section{
    display: flex;
    flex-direction: column;
}
.title-section span:nth-child(2){
    display: flex;
    gap: 7px;
    align-items: center;
}

.title-section span:nth-child(2) a{
    color: white;
}

.card-container article span{
    display: flex;
    justify-items: center;
}
article span{
    display: flex;
    gap: 7px;
    align-items: center;
    font-size: 16px;
}

.buttonCardContainer{
    display: flex;
    justify-content: space-around;
}
.buttonCardContainer button{
    padding: 7px;
    border-radius: 10px;
    background: #5658a7;
    color: #eee;
}