*,*::after{
  box-sizing: border-box;
}
body{
  width: 100%;
}
:root{
  background: var(--bag-main);
  --bag-main: #f6f7f9;
  --bag-hero: #404E6C;
  --shadow : #202531;
  --Text: #f6f7f9; 
  --contraste: #acb8cd;
  padding: 0 2vw 0 2vw;
}

header{
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

main{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  
}
main .Main-container{
  background: var(--bag-hero);
  color: var(--Text);
  width: 40vw;
  height: 80vh;
  padding: 1vh 2vw 1vh 2vw;
  border-radius: 20px;
  box-shadow: 1px 1px 3px 3px var(--shadow);
  display: flex;
  flex-direction: column;
}